.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / span 2;

    padding: var(--size-sm);

    & * {
        color: var(--text-primary);
    }
}

@media screen and (max-width: 666px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
