.bestFor {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 0;
    margin: 0;

    width: 100%;
    max-width: var(--size-xxl);
    
    text-align: center;
}

@media screen and (max-width: 666px) {
    .bestFor {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        height: 4.1rem;
    }
    .text {
        margin: auto 0;
        padding: 0;
        
        width: auto;
    }

}